root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
end_of_line = lf

[*.md]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.{kt,java,gradle,pro}]
indent_style = space
indent_size = 4
continuation_indent_size = 4

[*.{xml,html}]
indent_size = 4
indent_style = space

[*.{bat,cmd}]
# charset = sjis
end_of_line = crlf

[*.{ps1,psm}
# charset = utf-8
end_of_line = crlf
